@font-face {
    font-family: 'BemboStd';
    src: url('./assets/BemboStd.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: 'BemboStd', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    width: 300px;
    height: 600px;
    position: relative;
}

.banner-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 444px;
    z-index: 1;
}

#slide-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

#logo {
    position: absolute;
    margin-left: 50.5px;
    margin-right: 50.5px;
    margin-top: 176px;
    height: 63px;
    z-index: 1;
}

.banner-bottom {
    height: 165px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.5);
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

#slide-text {
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 29px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #000;
    width: 156.5px;
    height: 52px;
    margin: 29.5px 71.5px 85.5px 72px;
}

#arrows {
    position: absolute;
    width: 261px;
    top: 0;
    left: 0;
    margin: 33px 19.5px 120px 19.5px;
    display: flex;
    justify-content: space-between;
}

#arrow-right:hover, #arrow-left:hover {
    cursor: pointer;
}

#arrow-right, #arrow-left {
    width: 7px;
    height: 12px;  
}

#arrow-left {
    transform: scaleX(-1);
}

#shop-now {
    position: absolute;
    top: 0;
    left: 0;
    width: 82px;
    height: 14.5px;
    margin: 118.5px 108px 36.5px 110px;
}